
/*----------------------------------------------------------------------------------------------------------------------

*/
#sideContent{
    border-style: solid;

}
.OuterEtienne{
    position:relative;
    text-align: center;
    font-size: large;
 
}

.OuterOdwa{
    position:relative;
    text-align: center;
    font-size: large;
    
}

.OuterContainer, .ticker{
  height: 30px;
  line-height: 30px;
  background-color: #000;
  width: 60vh;
  
}
 
/* Container*/
.OuterContainer {
    overflow: hidden; /* HIDE SCROLL BAR
    * the overflow: hidden is used to hide the scroll bar , thus making it impossible to scroll inside the page
    
    * This is the outer container , it will remain unchanged on the screen, think of it as position: fixed.
    */
    background: #eee;/* Colour of background */
    
 
    
  }
  /* Ticker 
  
   * The ticker represents the individual items that will be displayed on on the ticker 
   * Here the items are specified to be aligned in the center
  */
  .ticker { 
      text-align: center; 
  }
   
  /* 
  
   * The InnerContainer is the most inside
   container
   
   
   
  
  
  */
  .InnerContainer {
      position: relative;
      /* Position: Relative allows the div to -  be adjusted away from its normal position
      
      * Thus making the div more modifiable 
      
      * In other words it allows you to place an element any where desired
      
      */
      
  }
  @keyframes tickerTape {
    0% { bottom: 0; } /* FIRST ITEM */
    30% { bottom: 30px; } /* SECOND ITEM */
    60% { bottom: 60px; } /* THIRD ITEM */
    90% { bottom: 90px; } /* FORTH ITEM */
    100% { bottom: 0; } /* BACK TO FIRST */
  }
  .InnerContainer {
    animation-name:tickerTape;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0); /* This is used to specify the speed that the animation is moving in*/
  }
  .InnerContainer:hover {
      /* The animation-play-state      
      
       * It is used to specify what happens to the animation, in this case the animation is paused when user hover over it.
       
      */
      
      animation-play-state: paused; }
  

/*------------------------------------------------------------------------------------------------------------------------*/

.OuterContainerE, .ticker{
    height: 30px;
    line-height: 30px;
    background-color: #000;
    width: 60vh;
    
  }
   
  /* Container*/
  .OuterContainerE {
      overflow: hidden; /* HIDE SCROLL BAR
      * the overflow: hidden is used to hide the scroll bar , thus making it impossible to scroll inside the page
      
      * This is the outer container , it will remain unchanged on the screen, think of it as position: fixed.
      */
      background: #eee;/* Colour of background */
      
   
      
    }
    /* Ticker 
    
     * The ticker represents the individual items that will be displayed on on the ticker 
     * Here the items are specified to be aligned in the center
    */
    .tickerE { 
        text-align: center; 
    }
     
    /* 
    
     * The InnerContainer is the most inside
     container
     
     
     
    
    
    */
    .InnerContainerE {
        position: relative;
        /* Position: Relative allows the div to -  be adjusted away from its normal position
        
        * Thus making the div more modifiable 
        
        * In other words it allows you to place an element any where desired
        
        */
        
    }
    @keyframes tickerTapeE {
      0% { bottom: 0; } /* FIRST ITEM */
      30% { bottom: 30px; } /* SECOND ITEM */
      60% { bottom: 60px; } /* THIRD ITEM */
      90% { bottom: 90px; } /* FORTH ITEM */
      100% { bottom: 0; } /* BACK TO FIRST */
    }
    .InnerContainerE {
      animation-name:tickerTape;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(1, 0, .5, 0); /* This is used to specify the speed that the animation is moving in*/
    }
    .InnerContainerE:hover {
        /* The animation-play-state      
        
         * It is used to specify what happens to the animation, in this case the animation is paused when user hover over it.
         
        */
        
        animation-play-state: paused; }
    
  
.About{
    border-style: solid;
    border-color: rgb(5, 68, 104);
    border-width: thin;
    height: 85vh; /*view port height which is practically 100% */
    background: black;
    opacity: 0.9;
    width: 60vh;
    margin: auto;

}
#EB{
    margin:auto;
    margin-top: 70px;

    border-width:medium;
}

#OD{
    margin:auto;
    margin-top: 100px;

    border-width:medium;
}



#nav1 a{
    text-decoration: none;
}
body{

    background-image: url(Images/Background.jpg);
    max-width: max-content;
    margin: auto;
    color:whitesmoke;
    position: relative;
  }

#animation_Heading{
    margin: auto;

}

#animation{
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: 10;
}
  
@keyframes animation {
    0%   { left:-1000px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:-200px; top:0px;}
    75%  {left:0px; top:0px;}
    100% { left:0px; top:0px;}
}  

nav li {
    display: inline;
}


    section #top1{

    transition: all 0.5s ease;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    background-image: none;
    margin: auto;



    }

    footer{
        background-image: url(Images/Background.jpg);
        text-align: center;
        display: block;
        border-width: thin;
        border-style: solid;
        border-radius: 15px;
        border-color: rgb(5, 68, 104);
        margin: auto; 
        transition: all 0.5s ease;
        transition: top 0.3s; /* Transition effect when sliding down (and up) */
        width: 400px;
        
 
    }
    #top1 {
        display: inline-block;
        padding: 20px 30px;
        
        color: rgb(241, 237, 237);
        font-size: 16px;
        border-width: thin;  
        padding-left: 560px ; 
        padding-right: 679px;
        margin: auto;   
    }


    #top a{
  
        display: inline-block;
        padding: 13px 30px;
        
        color: rgb(241, 237, 237);
        font-size: 16px;
        border-width: thin; 
        margin: auto;      
  
        
          
    }


    .dropdown {
        position: relative;
        display: inline-block;
        }
          
    .dropdown-content {
        display: none;
        opacity: 0.9;
        position: absolute;
        background-color:black;
        border-radius: 15px;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
  
    .Image_content{
        padding:0px;
    }

  
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .Image_content td{
        border-style: solid;
        border-width: thin;
        border-color:  #10558d;
   
    }

    .Image_content table{/*To position the div that contains the pixtures links*/
        margin-top: 20px; /* How far must it be away from the top of the page */
    }


#top{
    position: relative;
}




 /* Drop down menu for profile :*/
.dropdown2 {
    position: relative;
    display: inline-block;
    }
      
.dropdown-content2 {
    display: none;
    position: absolute;
    opacity: 0.9;
    background-color:black;
    border-radius: 15px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}


.dropdown2:hover .dropdown-content2 {
    display: block;
    text-align: center;
}

.Log{
    padding-top: 10px;
}
.dropdown-content2 .button{
    background-color: #10558d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: 20px 20px 50px grey;
    cursor: pointer;
}


.glowEffect {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


.glowEffect:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: bright 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowEffect:active {
    color: #000
}

.glowEffect:active:after {
    background: transparent;
}

.glowEffect:hover:before {
    opacity: 1;
}

.glowEffect:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes bright {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/** The search menu at the top nav **/
.glowEffect2 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glowEffect2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: bright2 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowEffect2:active {
    color: #000
}

.glowEffect2:active:after {
    background: transparent;
}

.glowEffect2:hover:before {
    opacity: 1;
}

.glowEffect2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes bright2 {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/** Glow and effect bottom one */

.glowEffect3 {
    padding: 5px 15px;
 
    opacity: 0.9;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glowEffect3:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: bright3 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowEffect3:active {
    color: #000
}

.glowEffect3:active:after {
    background: transparent;
}

.glowEffect3:hover:before {
    opacity: 1;
}

.glowEffect3:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes bright3 {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/** Other drop down method when the screen is smaller **/

#left{
    position:relative;
    margin-top: -580px;
    margin-left: 410px;
}
.dropdown-content3 .button{
    background-color: #10558d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: 20px 20px 50px grey;
    cursor: pointer;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
    text-align: center;
}

.dropdown3 {
    position: relative;
    display: inline-block;
    }
      
.dropdown-content3 {
    background-color: black;
    opacity: 0.9;
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
      

/*Ensuring that Website looks good on all devices */
#nav1{
    display : block;
}

#nav2{
    display : none;
}



@media screen and (max-width: 1900px ) {
    
 

    #left{
        position:relative;
        margin-top: -590px;
        margin-left: 276px;
    }

    .nav2{
        margin-bottom: -30px;
        margin-right: 250px;
    }
    #nav1{
        display : none;
    }

    #nav2{
        display : block;
    }
    section #top1{/*NB */
        position:absolute;
        margin:auto;
        width: 100%;
        text-align: center;
        background-image: none;
        padding:0px;
    }

    div #top1{
        padding:0px;
    }

 


    .TableA  table, thead, tbody, tr, th, td{
        display: block; 
        text-align: left;
    }

    #nav1{
        position:relative;
        margin:auto;
        width: 100%;
        text-align: center;
    }
    footer{
        position:relative;
        margin:auto;
        width: 100%;
        text-align: center;
    }

    #main{
        margin-top: -20px;


    }
    
    
    #main2{
        margin-top: -1px;
    }

    #main2{
        position:relative;
       
        width: 100%;
        text-align: center;
    }
 }


#fomSign{
    margin: auto;
    border-style: solid;
    border-color: #10558d;
    border-width: thin;
    text-align: center;
    
    height: 730px;
}

#main2{
    background-image: url(Images/Background.jpg);
    width: 390px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    
}

#fomSign td{
    padding: 20px;
    align-items: center;
}

#SignUp{
    border: none;
    padding: 15px 32px;
    font-size: large;
    
}

#fomSign table{
    place-items: center;

    margin:auto;

}
.Icons{
    width: 20px;
    height: 20px;
    margin:top;
}


#fomSign2{
    margin: auto;
    border-style: solid;
    border-color: #10558d;
    border-width: thin;
    text-align: center;
    height: 400px;
    margin-top: 20px;
}

#fomSign2 td{
    padding: 20px;
    align-items: center;
}

#fomSign2 table{
    place-items: center;

    margin:auto;

}